.evaluation-open {
  background-color: #00FF00;
}
.evaluation-readonly {
  background-color: #0000FF;
}
.evaluation-closed {
  background-color: #FF0000;
}
.evaluation-self-timed {
  background-color: #FFFF00;
}
